.error_Wrapper{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-left: 35%;
    font-size: 50px;
    color: red;
    letter-spacing: 10px;
    font-weight: 900;
}