
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px;
    grid-template-areas: "ava info";
    padding: 7px;
    margin-left: 100px;
    width: 280px;
    background: #6ba2e0;
    position: relative;
}

.ava {
    grid-area: ava;
    padding-top: 33%;
    margin-right: 10px;
}

.ava > img {
    width: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}


.info {
    grid-area: info;
    display: grid;
    grid-template-columns: 90px 90px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
                        "name time"
                        "question time";
    padding: 5px;
    background: #020202;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;


}

.name {
    font-size: 15px;
    grid-area: name;
    color: #15e8b6;
    font-weight: bold;
    /*border: 1px solid red;*/
    display: grid;
    align-content: center;
    justify-content: center;

}

.question {
    grid-area: question;
    color: #f617f6;
    /*border: 1px solid red;*/
    display: grid;
    align-content: center;
    justify-content: start;
    font-size: 14px;
}

.time {

    grid-area: time;
    color: #a8e8a8;
    font-weight: bold;
    /*border: 1px solid red;*/
    display: grid;
    align-content: end;
    justify-content: end;
    font-size: 15px;
}

.triangle-bottomright{
    width: 0;
    height: 0;
    border-bottom: 10px solid black;
    border-left: 15px solid transparent;
    position: absolute;
    top:77px;
    left:66px
}