.superInput {
    width: 500px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 5px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}