.headerWrapper{
    position: relative;
    display: inline-block;
    margin: 20px 0 20px 20px;
}

.headerWrapper:hover .links {
    display: inline-flex;
}

.headerWrapper:hover .button {
    background-color: #3e8e41;
}


.button{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}


.links{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.links a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.links a:hover{
    background-color: #ddd;
}



/*.link{*/
/*     text-decoration: none;*/
/* }*/